/* Kom ihåg att minify */

body {
    background-image: url(../img/pannkaka2.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.header {
    grid-area: He;
    background: #8785ED;
    flex: 1;
    display: flex;

    justify-content: center;
    align-content: center;
}
.section1 {
    grid-area: S1;
    background: #Ba88e0;
    flex: 1;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
}
.section2 {
    grid-area: S2;
    background: #E68BF7;
    flex: 1;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
}
.section3 {
    grid-area: S3;
    background: #ed7ea3;
    flex: 1;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.section3 ul {
    width: 150px;
    list-style: none;
}
.nav {
    grid-area: Na;
    background: #ed85d8;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.footer {
    grid-area: Fo;
    background: #ab8bf7;
    flex: 1;
    display: flex;
    justify-content: center;
    align-content: center;
}
nav a {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
h1 {
    font-family: sans-serif;
    font-size: 50px;
    margin: auto;
    flex: 1;
    display: flex;
    justify-content: center;
    align-content: center;
 }
h4 {
    font-family: sans-serif;
    font-size: 30px;
    margin: 5px;
    color: black;
    flex: 1;
    display: flex;
    justify-content: center;
    align-content: center;
}
h5 {
    font-family: sans-serif;
    font-size: 15px;
    margin: 50px;
}
h6 {
    font-family: sans-serif;
    font-size: 15px;
    margin: 50px;
    color:black;
    flex: 1;
    display: flex;
    justify-content: left;
    align-content: center;
 }
ul {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Mobil grej kopierat från presentationen, fattar inte riktigt */
/* endast för mobil */
@media screen and (max-width: 600px) {
    body {
       
    }

    .gridwrapper {
        display: grid;
        
        height: 97vh;
        width: 99vw; 
        grid-template-areas:
            "He He He"
            "S1 S1 S1"
            "S1 S1 S1"
            "S1 S1 S1"
            "S1 S1 S1"
            "S2 S2 S2"
            "S2 S2 S2"
            "S2 S2 S2"
            "S2 S2 S2"
    
         ;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(9, 1fr);
        grid-gap: 10px;
    }
    .gridwrapper2 {
        display: grid;
        
        height: 97vh;
        width: 99vw; 
        grid-template-areas:
            "He He He"
            "S3 S3 S3"
            "S3 S3 S3"
            "S3 S3 S3"
            "S3 S3 S3"
            "S3 S3 S3"
            "S3 S3 S3"
            "S3 S3 S3"
            "S3 S3 S3"

         ;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(9, 1fr);
        grid-gap: 10px
    }
    .nav {
        display: none;
    }
    .footer{
        display: none;
    }
}
/* Endast för desktop */
@media screen and (min-width: 601px) {
    
    .gridwrapper {
        display: grid;
        
        height: 97vh;
        width: 99vw; 
        grid-template-areas:
            "He He He He He"
            "S1 S1 S2 S2 Na"
            "S1 S1 S2 S2 Na"
            "S1 S1 S2 S2 Na"
            "S1 S1 S2 S2 Na"
            "S1 S1 S2 S2 Na"
            "S1 S1 S2 S2 Na"
            "Fo Fo Fo Fo Fo"
    
         ;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-gap: 30px;
    }
    .gridwrapper2 {
        display: grid;
        
        height: 97vh;
        width: 99vw; 
        grid-template-areas:
            "He He He He He"
            "S3 S3 S3 S3 Na"
            "S3 S3 S3 S3 Na"
            "S3 S3 S3 S3 Na"
            "S3 S3 S3 S3 Na"
            "S3 S3 S3 S3 Na"
            "S3 S3 S3 S3 Na"
            "Fo Fo Fo Fo Fo"
    
         ;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-gap: 30px
    }
    
}





.auto-grid {
    --auto-grid-min-size: 16rem;
  
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 1rem;
  }

